---
import LegendTable from "../components/LegendTable.astro";
import SideMenu from "../components/SideMenu.astro";
import Layout from "../layouts/Layout.astro";
import EditingSideMenu from "../components/editingSideMenu.astro";
---

<Layout>
  <header>
    <div class="header-container">
      <h1>GIS Grupo 2</h1>
      <div class="epsg"><p>EPSG:3857</p></div>
    </div>
  </header>
  <SideMenu />
  <EditingSideMenu />
  <div id="tables-container" class="tables-container"></div>

  <div id="map"></div>
  <div id="pdf-progress" class="progress hidden"></div>

  <div id="legends-container" class="legends-container hidden"></div>
  <LegendTable />
</Layout>

<script>
  import "../main.js";
</script>
