---
import ToolbarButton from "./ToolbarButton.astro";

const { titulo } = Astro.props;
---

<div class="aside-header">
  <h2>{titulo}</h2>
  <button title="Cerrar menú" class="close-menu-btn"> </button>
</div>

<style>
  .aside-header {
    padding: 1rem 0.5rem 0.5rem 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    & h2 {
      text-wrap: nowrap;
      font-size: 1rem;
    }
  }

  .close-menu-btn {
    display: block;
    width: 24px;
    height: 24px;

    background-color: var(--color-400);
    transition: var(--transition);

    -webkit-mask: url("/assets/cancel-01-stroke-rounded.svg") no-repeat center;
    mask: url("/assets/cancel-01-stroke-rounded.svg") no-repeat center;

    -webkit-mask-size: contain;
    mask-size: contain;
  }

  .close-menu-btn:hover {
    background-color: black;
  }
</style>
