---
import ToolbarButton from "./ToolbarButton.astro";
---

<div class="editing-side-menu">
  <ToolbarButton
    id="save-edit"
    src="./assets/save.svg"
    title="Guardar cambios"
    badge="S"
  />

  <ToolbarButton
    id="go-back-action"
    src="./assets/undo.svg"
    title="Volver"
    badge="Z"
  />

  <ToolbarButton
    id="borrar-todo"
    src="./assets/eliminar.svg"
    title="Borrar todo"
    badge="C"
  />

  <ToolbarButton
    id="cancel-edit"
    src="./assets/cancel-01-stroke-rounded.svg"
    title="Cancelar edición"
    badge="Esc"
  />
</div>

<style>
  .editing-side-menu {
    background-color: var(--bg-200);
    position: fixed;
    top: 50%;
    right: 0.5rem;
    transform: translate(120%, -50%);
    z-index: 20;
    padding: 8px;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: var(--transition);
    box-shadow: var(--box-shadow);
  }

  .active-edit-controls {
    position: fixed;
    top: 50%;
    right: 0.5rem;
    transform: translate(0, -50%) !important;
  }
</style>
