<div class="legends-container-html" id="legends-container-html">
  <div class="legends-title-container">
    <span class="legends-title">
      <button class="info-icon" title="Información de capas"
        ><img src="/assets/information-square-stroke-rounded.svg" /></button
      >
      <h3 class="change-opacity">Información</h3></span
    >
    <button title="Ocultar leyendas" class="change-opacity close-legend-btn">
      <img src="/assets/cancel-01-stroke-rounded.svg" alt="Cerrar" />
    </button>
  </div>

  <div class="divider-y change-opacity"></div>
  <div id="legends-list" class="legends-list change-opacity">
    <p>Active una capa para ver su leyenda...</p>
  </div>
</div>

<style>
  .legends-container-html {
    position: fixed;
    right: 0.5rem;
    bottom: 0.5rem;
    background: var(--bg-200);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    padding: 1rem;

    max-width: 280px;
    max-height: calc(100vh - 140px);
    overflow-y: auto;
    z-index: 5;
    display: grid;
    gap: 0.5rem;
    font-size: 14px;

    overflow: hidden;
  }

  h3 {
    font-size: 14px;
    opacity: 1;
  }

  .legends-title-container {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .legends-title {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .legends-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .legends-open {
    width: 56px;
    height: 56px;
  }

  .change-opacity {
    display: flex;
  }
</style>

<script>
  const closeBtn = document.querySelector(".close-legend-btn");
  const elToHide = document.querySelectorAll(".change-opacity");
  const container = document.querySelector(".legends-container-html");
  const openBtn = document.querySelector(".info-icon");

  closeBtn?.addEventListener("click", () => {
    elToHide.forEach((el) => {
      (el as HTMLElement).style.display = "none";
    });
    container?.classList.add("legends-open");
  });

  openBtn?.addEventListener("click", () => {
    elToHide.forEach((el) => {
      (el as HTMLElement).style.display = "block";
    });
    container?.classList.remove("legends-open");
  });
</script>
