<div id="simple-modal" class="modal-overlay">
  <div class="modal-content">
    <button id="modal-btn-close" class="modal-close-x" title="Continuar editando">×</button>
    <div class="icono-alert-container">
      <span class="icono-alert"> </span>
    </div>

    <h3>Cambios pendientes</h3>
    <p>Tienes geometrías dibujadas sin guardar</p>
    <div class="modal-actions">
      <button id="modal-btn-cancel" class="btn-cancel">Eliminar</button>
      <button id="modal-btn-save" class="btn-confirm">Guardar</button>
    </div>
  </div>
</div>
