---
// src/components/SideMenu.astro
---

<div class="nav-and-aside">
  <nav>
    <button
      class="icon-container activeMenu"
      data-target="layers"
      title="Capas">
      <img
        src="/assets/layers-01-stroke-rounded.svg"
        alt="Capas"
        class="svg-icon"
      />
    </button>

    <button class="icon-container" data-target="tables" title="Tablas">
      <img
        src="/assets/table-stroke-rounded.svg"
        alt="Tablas"
        class="svg-icon"
      />
    </button>

    <button class="icon-container" data-target="legends" title="Leyendas">
      <img
        src="/assets/right-to-left-list-dash-stroke-rounded.svg"
        alt="Leyendas"
        class="svg-icon"
      />
    </button>

    <div class="divider-y"></div>

    <button class="icon-container" title="Acercar" id="zoom-in">
      <img src="./assets/add-01-stroke-rounded.svg" alt="Acercar" />
    </button>
    <button class="icon-container" title="Alejar" id="zoom-out">
      <img src="./assets/remove-01-stroke-rounded.svg" alt="Alejar" />
    </button>
    <button
      class="icon-container"
      id="centerInitialPos"
      title="Centrar Corrientes">
      <img
        src="./assets/location-04-stroke-rounded.svg"
        alt="Centrar Corrientes"
      />
    </button>

    <div class="divider-y"></div>

    <button class="icon-container" id="query" title="Consultar información">
        <div class="icon-wrapper">
            <img
                src="./assets/select-02-stroke-rounded.svg"
                alt="Consultar información"
            />
            <span class="badge">f</span>
        </div>
    </button>

    <button class="icon-container" id="measure" title="Medir distancia">
        <div class="icon-wrapper">
            <img
                src="./assets/tape-measure-stroke-rounded.svg"
                alt="Medir distancia"
            />
            <span class="badge">m</span>
        </div>
    </button>

    <button class="icon-container" id="draw" title="Dibujar vector">
      <img
        src="./assets/pencil-edit-02-stroke-rounded.svg"
        alt="Dibujar vector"
      />
    </button>
  </nav>

  <aside id="main-aside" class="menu-open">
    <div class="aside-container">
      <div id="panel-layers" class="panel-content activeMenu">
        <div class="aside-header">
          <h2>Capas</h2>
          <button title="Cerrar menú" id="close-menu">
            <img src="/assets/cancel-01-stroke-rounded.svg" alt="Cerrar" />
          </button>
        </div>
        <div class="aside-actions">
          <input
            id="layer-search"
            type="text"
            placeholder="Buscar capa..."
            class="search"
          />
          <button class="clean-selection" style="display: none;"
            >Limpiar selección</button
          >
        </div>
        <ul class="layers"></ul>
      </div>

      <div id="panel-tables" class="panel-content">
        <div class="aside-header">
          <h2>Tablas de Atributos</h2>
        </div>
        <div class="layers">
          <p>
            Use la herramienta "Consultar informacion" sobre una capa para
            visualizar las tablas del área seleccionada.
          </p>
        </div>
      </div>

      <div id="panel-legends" class="panel-content">
        <div class="aside-header">
          <h2>Leyendas</h2>
        </div>
        <div class="layers"><p>Contenido de leyendas...</p></div>
      </div>
    </div>
  </aside>
</div>

<style>
  .panel-content {
    display: none;
    height: 100%;
    overflow-y: auto;
  }

  .aside-header {
    padding: 0.5rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    & h2 {
      text-wrap: nowrap;
      font-size: 1rem;
    }
  }

  .panel-content.activeMenu {
    display: block;
    animation: fadeIn 0.3s;
  }

  .icon-container.activeMenu {
    background-color: var(--bg-400);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>

<script>
  const buttons = document.querySelectorAll(".icon-container[data-target]");
  const panels = document.querySelectorAll(".panel-content");

  const closeBtn = document.querySelector("#close-menu");
  const aside = document.querySelector("#main-aside");

  if (closeBtn && aside) {
    closeBtn.addEventListener("click", () => {
      aside.classList.remove("menu-open");
        for (const btn of buttons) {
            btn.classList.remove("activeMenu")
        }
    });
  }

  for (const btn of buttons) {
    btn.addEventListener("click", () => {
      if (aside) {
        aside.classList.add("menu-open");
      }

        for (const b of buttons) {
            b.classList.remove("activeMenu")
        }
        for (const p of panels) {
            p.classList.remove("activeMenu")
        }

      btn.classList.add("activeMenu");
      const targetId = btn.getAttribute("data-target");
      const targetPanel = document.querySelector(`#panel-${targetId}`);

      if (targetPanel) {
        targetPanel.classList.add("activeMenu");
      }
    });
  };
</script>
