---
import AsideHeader from "./AsideHeader.astro";
---

<div class="nav-and-aside">
  <nav>
    <button
      class="icon-container activeMenu"
      data-target="layers"
      title="Capas">
      <img
        src="/assets/layers-01-stroke-rounded.svg"
        alt="Capas"
        class="svg-icon"
      />
    </button>

    <button class="icon-container" data-target="tables" title="Tablas">
      <img
        src="/assets/table-stroke-rounded.svg"
        alt="Tablas"
        class="svg-icon"
      />
    </button>
    <!-- 
    <button class="icon-container" data-target="legends" title="Leyendas">
      <img
        src="/assets/right-to-left-list-dash-stroke-rounded.svg"
        alt="Leyendas"
        class="svg-icon"
      />
    </button> -->

    <div class="divider-y"></div>

    <button class="icon-container" title="Acercar" id="zoom-in">
      <img src="./assets/add-01-stroke-rounded.svg" alt="Acercar" />
    </button>
    <button class="icon-container" title="Alejar" id="zoom-out">
      <img src="./assets/remove-01-stroke-rounded.svg" alt="Alejar" />
    </button>
    <button
      class="icon-container"
      id="centerInitialPos"
      title="Centrar Corrientes">
      <img
        src="./assets/location-04-stroke-rounded.svg"
        alt="Centrar Corrientes"
      />
    </button>

    <div class="divider-y"></div>

    <button class="icon-container" id="query" title="Consultar informaci칩n">
      <img
        src="./assets/select-02-stroke-rounded.svg"
        alt="Consultar informaci칩n"
      />
      <span class="badge">F</span>
    </button>

    <button class="icon-container" id="measure-line" title="Medir distancia">
      <img
        src="./assets/straight-edge-stroke-rounded.svg"
        alt="Medir distancia"
      />
      <span class="badge">L</span>
    </button>

    <button class="icon-container" id="measure-polygon" title="Medir area">
      <img src="./assets/skew-stroke-rounded.svg" alt="Medir area" />
      <span class="badge">P</span>
    </button>

    <button class="icon-container" id="draw" title="Dibujar vector">
      <img
        src="./assets/pencil-edit-02-stroke-rounded.svg"
        alt="Dibujar vector"
      />
    </button>

    <button class="icon-container" id="export-pdf" title="Exportar a PDF">
      <img src="./assets/pdf.svg" alt="Exportar a PDF" />
    </button>
  </nav>

  <aside id="main-aside" class="menu-open">
    <div class="aside-container">
      <div id="panel-layers" class="panel-content activeMenu">
        <AsideHeader titulo="Capas" />

        <div class="aside-actions">
          <input
            id="layer-search"
            type="text"
            placeholder="Buscar capa..."
            class="search"
          />
          <button class="clean-selection" style="display: none;"
            >Limpiar selecci칩n</button
          >
        </div>
        <ul class="layers"></ul>
      </div>

      <div id="panel-tables" class="panel-content">
        <AsideHeader titulo="Tablas de atributos" />
        <div class="layers">
          <p id="table-info">
            Use la herramienta "Consultar informacion" sobre una capa para
            visualizar las tablas del 치rea seleccionada.
          </p>
          <ul id="selected-layers"></ul>
        </div>
      </div>

      <div id="panel-legends" class="panel-content">
        <AsideHeader titulo="Leyendas" />
        <div class="layers"><p>Contenido de leyendas...</p></div>
      </div>
    </div>
  </aside>
</div>

<style>
  .panel-content {
    display: none;
    height: 100%;
    overflow-y: auto;
  }

  .panel-content.activeMenu {
    display: block;
    animation: fadeIn 0.3s;
  }

  .icon-container {
    padding: 8px;
    border-radius: var(--border-radius-sm);
    transition: var(--transition);
    cursor: pointer;
    border: 1px solid transparent;
    position: relative;
  }

  .icon-container:hover {
    background-color: var(--bg-400);
  }

  .badge {
    position: absolute;
    bottom: -1px;
    right: -1px;

    color: var(--gricesito);
    border-radius: 25%;
    /* border: 0.5px solid var(--gricesito); */
    width: 12px;

    /* height: 20px;  */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    pointer-events: none;
  }

  .icon-container.activeMenu {
    background-color: var(--bg-400);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>

<script>
  import { moveScale } from "../utils/manageScalePos";
  const buttons = document.querySelectorAll(".icon-container[data-target]");
  const panels = document.querySelectorAll(".panel-content");
  const closeBtns = document.querySelectorAll(".close-menu-btn");
  const aside = document.getElementById("main-aside");

  if (aside) {
    closeBtns.forEach((btn) => {
      btn.addEventListener("click", () => {
        aside.classList.remove("menu-open");

        buttons.forEach((b) => b.classList.remove("activeMenu"));

        moveScale(false);
      });
    });
  }

  for (const btn of buttons) {
    btn.addEventListener("click", () => {
      if (aside) {
        aside.classList.add("menu-open");
      }

      for (const b of buttons) {
        b.classList.remove("activeMenu");
      }
      for (const p of panels) {
        p.classList.remove("activeMenu");
      }

      btn.classList.add("activeMenu");

      const targetId = btn.getAttribute("data-target");
      const targetPanel = document.querySelector(`#panel-${targetId}`);

      if (targetPanel) {
        targetPanel.classList.add("activeMenu");
      }

      moveScale(true);
    });
  }
</script>
