---
import AsideHeader from "./AsideHeader.astro";
import ToolbarButton from "./ToolbarButton.astro";
---

<div class="nav-and-aside">
  <nav>
    <ToolbarButton
      src="/assets/layers-01-stroke-rounded.svg"
      title="Capas"
      dataTarget="layers"
    />

    <ToolbarButton
      src="/assets/table-stroke-rounded.svg"
      title="Tablas"
      dataTarget="tables"
    />

    <div class="divider-y"></div>

    <ToolbarButton
      id="zoom-in"
      src="/assets/add-01-stroke-rounded.svg"
      title="Acercar"
    />

    <ToolbarButton
      id="zoom-out"
      src="/assets/remove-01-stroke-rounded.svg"
      title="Alejar"
    />

    <ToolbarButton
      id="centerInitialPos"
      src="/assets/location-04-stroke-rounded.svg"
      title="Centrar Corrientes"
      badge="X"
    />

    <div class="divider-y"></div>

    <ToolbarButton
      id="query"
      src="/assets/select-02-stroke-rounded.svg"
      title="Consultar informaci칩n"
      badge="F"
    />

    <ToolbarButton
      id="measure-line"
      src="/assets/straight-edge-stroke-rounded.svg"
      title="Medir distancia"
      badge="L"
    />

    <ToolbarButton
      id="measure-polygon"
      src="/assets/skew-stroke-rounded.svg"
      title="Medir area"
      badge="P"
    />

    <ToolbarButton
      id="export-pdf"
      src="/assets/pdf.svg"
      title="Exportar a PDF"
    />
  </nav>

  <aside id="main-aside" class="menu-open">
    <div class="aside-container">
      <div id="panel-layers" class="panel-content activeMenu">
        <AsideHeader titulo="Capas" />

        <div class="aside-actions">
          <input
            id="layer-search"
            type="text"
            placeholder="Buscar capa..."
            class="search"
          />
          <button class="clean-selection" disabled>
            <span class="icono-limpieza"> </span>
            Limpiar selecci칩n
          </button>
        </div>
        <ul class="layers"></ul>
      </div>

      <div id="panel-tables" class="panel-content">
        <AsideHeader titulo="Tablas de atributos" />
        <div class="layers">
          <p id="table-info">
            Use la herramienta "Consultar informaci칩n" sobre una capa para
            visualizar las tablas del 치rea seleccionada.
          </p>
          <ul id="selected-layers" class="selected-layer-table"></ul>
        </div>
      </div>
    </div>
  </aside>
</div>

<style>
  .panel-content {
    display: none;
    height: 100%;
    overflow-y: auto;
  }

  .layers .selected-layer-table li {
    padding: 0.5rem !important;
  }

  .panel-content.activeMenu {
    display: block;
    animation: fadeIn 0.3s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>

<script>
  import { moveScale } from "../utils/manageScalePos";
  const buttons = document.querySelectorAll(".icon-container[data-target]");
  const panels = document.querySelectorAll(".panel-content");
  const closeBtns = document.querySelectorAll(".close-menu-btn");
  const aside = document.getElementById("main-aside");
  const table = document.querySelectorAll(".tables-container");

  if (aside) {
    closeBtns.forEach((btn) => {
      btn.addEventListener("click", () => {
        aside.classList.remove("menu-open");

        buttons.forEach((b) => b.classList.remove("activeMenu"));

        moveScale(false);
        table.forEach((t) => {
          t.style.maxWidth = "calc(100% - 82px)";
        });
      });
    });
  }

  for (const btn of buttons) {
    btn.addEventListener("click", () => {
      if (aside) {
        aside.classList.add("menu-open");
      }

      for (const b of buttons) {
        b.classList.remove("activeMenu");
      }
      for (const p of panels) {
        p.classList.remove("activeMenu");
      }

      btn.classList.add("activeMenu");

      const targetId = btn.getAttribute("data-target");
      const targetPanel = document.querySelector(`#panel-${targetId}`);

      if (targetPanel) {
        targetPanel.classList.add("activeMenu");
      }

      moveScale(true);
      table.forEach((t) => {
        t.style.maxWidth = "calc(100% - 406px)";
      });
    });
  }
</script>
