@import "node_modules/ol/ol.css";

:root {
  --font: "Noto Sans JP", sans-serif;
  --bg-400: #f9f6ee;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  font-family: var(--font);
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

button {
  all: unset;
  cursor: pointer;
}

/*
    10. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

html,
body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

aside {
  height: 100dvh;
  padding: 0.5rem;
  position: relative;
  left: -10%;
  top: 0;
  z-index: 10;
  width: 200px;
  transition: all 0.3s ease;
}

.menu-open {
  left: 0;
}

.aside-container {
  height: 100%;
  padding: 0.5rem 1rem;
  background-color: var(--bg-400);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  width: 100%;
}

.ol-zoom {
  display: none;
}

.controls-container {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 0;
  z-index: 10;
}

.controls-group {
  display: grid;
  place-content: center;

  background-color: var(--bg-400);
  border-radius: 4px;

  box-shadow: var(--box-shadow);
}

.controls-group button {
  display: grid;
  place-content: center;
  padding: 0.3rem;
}
