@import "node_modules/ol/ol.css";

:root {
  --font: "Noto Sans JP", sans-serif;
  --bg-200: rgb(255, 254, 251);
  --bg-300: rgb(250, 247, 242);

  --border-400: #d8d6cf;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --border-radius: 4px;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  font-family: var(--font);
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  all: unset;
  cursor: pointer;
}

/*
    10. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: #aad3df;
}

/* body {
  opacity: 0;
  animation: fadeIn 1s forwards;
} */

/* @keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

#map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

aside {
  --width: 350px;
  --padd: 0.5rem;
  padding: var(--padd);
  position: relative;
  left: calc((-1 * var(--width)) + var(--padd));
  top: 0;
  z-index: 10;
  width: var(--width);
  transition: all 0.3s ease;
}

header {
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.header-container {
  display: flex;
  position: relative;
  z-index: 2;
  background-color: var(--bg-200);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  height: 36px;
}

.tabs {
  & ul {
    display: flex;
    font-size: 0.875rem;
    height: 100%;
  }

  & li {
    display: grid;
    align-items: center;
    padding-inline: 1rem;
    height: 100%;
    cursor: pointer;
  }

  & li:hover {
    background-color: var(--bg-300);
  }
}

.selected-tab {
  background-color: var(--bg-300);
}

.title-container {
  padding-inline: 1rem;
  height: 100%;
  display: flex;
  align-items: center;

  & h1 {
    font-size: 1rem;
  }
}

.menu-open {
  left: 0;
}

.aside-container {
  position: relative;
  z-index: 2;
  height: calc(100dvh - 1.5rem - 36px);
  padding: 0.5rem 0;
  background-color: var(--bg-200);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  width: 334px;
  overflow: hidden;
}

.layers {
  overflow-y: scroll;
  height: 100%;
  padding: 0.5rem;
  gap: 0.5rem;
}

.layers li {
  padding: 0.5rem;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: var(--border-radius);
  display: flex;
  gap: 1rem;
}

.layers li:hover {
  background-color: var(--bg-300);
}

.aside-actions {
  padding: 0.5rem;
  width: 100%;
  display: grid;
  gap: 0.5rem;
}

.search {
  all: unset;
  width: calc(100% - 1rem);
  padding: 0.5rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-400);
}

.clean-selection {
  width: 100%;
  padding-block: 0.5rem;
  text-align: center;

  font-weight: 600;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-400);
  background-color: var(--bg-300);
  display: none;
}

.ol-zoom {
  display: none;
}

.controls-container {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 0;
  z-index: 10;
}

.controls-group {
  display: grid;
  place-content: center;

  background-color: var(--bg-200);
  border-radius: var(--border-radius);

  box-shadow: var(--box-shadow);
}

.controls-group button {
  display: grid;
  place-content: center;
  padding: 0.3rem;
}

.ol-scale-bar {
  left: 350px;
  transition: all 0.3s ease;
}
