@import "node_modules/ol/ol.css";

:root {
  --font: "Noto Sans JP", sans-serif;
  --bg-200: rgb(255, 254, 251);
  --bg-300: rgb(250, 247, 242);
  --bg-400: rgb(236, 232, 224);

  --border-400: #d8d6cf;
  /* (Lautaro) Todavia hay que decidir como se va a ver, pero el gris no se apreciaba mucho */
  --border-500: #b521e3;
  /* --border-500: #a3a3a3; */
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --border-radius: 8px;
  --border-radius-sm: 4px;
  --transition: all 0.3s ease;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  font-family: var(--font);
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  all: unset;
  cursor: pointer;
}

/*
    10. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: #aad3df;
  overflow: hidden;
}

/* body {
  opacity: 0;
  animation: fadeIn 1s forwards;
} */

/* @keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

#map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

aside {
  /* --width: 350px;
  --padd: 0.5rem; */

  position: relative;
  /* left: calc((-1 * var(--width)) + var(--padd)); */
  top: 0;
  z-index: 10;
  width: 0;
  transition: var(--transition);
}

header {
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.header-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  width: 425px;
  z-index: 2;
  background-color: var(--bg-200);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  & h1 {
    font-size: 1rem;
  }
}

.epsg {
  background-color: var(--bg-300);
  border: 1px solid var(--border-400);
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 0.75rem;
  border-radius: var(--border-radius-sm);
  padding: 8px;
}

.tabs {
  & ul {
    display: flex;
    font-size: 0.875rem;
    height: 100%;
  }

  & li {
    display: grid;
    align-items: center;
    padding-inline: 1rem;
    height: 100%;
    cursor: pointer;
  }

  & li:hover {
    background-color: var(--bg-300);
  }
}

.selected-tab {
  background-color: var(--bg-300);
}

.aside-container {
  position: relative;
  z-index: 2;
  padding-bottom: 1rem;
  background-color: var(--bg-200);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);

  overflow: hidden;
}

.menu-open {
  width: 316px;
  left: 0;
  overflow: hidden;
  border-radius: var(--border-radius);
}

.layers {
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100dvh - 1.5rem - 36px);

  padding: 0.5rem;
  padding-bottom: 8.25rem;
  gap: 0.5rem;
}

.layers li {
  padding: 0.5rem;
  transition: var(--transition);
  cursor: pointer;
  border-radius: var(--border-radius);
  display: flex;
  gap: 1rem;
  font-size: 0.875rem;

  & label {
    display: inline-flex;
    gap: 0.5rem;
  }
}

.layers li:hover {
  background-color: var(--bg-300);
}

.layer-name {
  max-width: 216px;
  text-transform: lowercase;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.layer-symbol {
  display: grid;
  place-items: center;
  width: 18px;
}

.aside-actions {
  padding: 0.5rem;
  width: 100%;
  display: grid;
  gap: 0.5rem;
}

.search {
  all: unset;
  width: calc(100% - 1rem);
  padding: 0.5rem;
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--border-400);
}

.clean-selection {
  width: 100%;
  padding-block: 0.5rem;
  text-align: center;

  font-weight: 600;
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--border-400);
  background-color: var(--bg-300);
  display: none;
}

.ol-zoom {
  display: none;
}

.controls-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  z-index: 10;
}

.controls-group {
  display: grid;
  place-content: center;

  background-color: var(--bg-200);
  border-radius: var(--border-radius);

  box-shadow: var(--box-shadow);
}

.controls-group button {
  display: grid;
  place-content: center;
  padding: 0.3rem;
  border: 1px solid var(--bg-200);
  transition: var(--transition);
  border-radius: var(--border-radius);
  z-index: 100;
}

.ol-scale-bar {
  left: 400px;
  transition: var(--transition);
}

.active {
  border-radius: var(--border-radius);
  border: 1px solid var(--border-500) !important;
}

.nav-and-aside {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  gap: 0.25rem;
  transition: all 0.3s ease 0.1s;
  box-shadow: var(--box-shadow);
  height: calc(100dvh - 1.5rem - 36px);
}

.nav-and-aside:has(.menu-open) {
  gap: 0.5rem;
  transition: all 0.3s ease;
}

nav {
  background-color: var(--bg-200);
  position: relative;
  z-index: 20;
  padding: 8px;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.icon-container {
  padding: 8px;
  border-radius: var(--border-radius-sm);
  transition: var(--transition);
  cursor: pointer;
  border: 1px solid var(--bg-200);
}

.icon-container:hover {
  background-color: var(--bg-300);
}

.active-menu,
.active-menu:hover {
  background-color: var(--bg-400);
}
